@{
    ViewData["Title"] = "Welcome to Rando Bot";
}

<h2>@ViewData["Title"]</h2>

<p>Rando Bot is a simple Facebook messenger chat bot that allows users to swap pictures. Just send a picture and you'll get a random picture :-)</p>
