@{
    ViewData["Title"] = "Welcome to Rando Bot";
}

<div class="row">
   Rando Bot is a simple Facebook messenger chat bot that allows users to swap pictures. Just send a picture and you'll get a random picture :-)
</div>
