@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"].</h2>

<p>
    Rando Bot is a simple Facebook Messenger chat bot that enables users to swap pictures with other random users. 
    Pictures are stored for short amount of time and deleted as soon they reach the Messenger recipient. 
    Profile first name and Facebook id are store in a database and used to manage users sessions and filter the images.
</p>
