@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    Rando Bot is a simple Facebook Messenger chat bot that enables users to swap pictures with other random users. 
    Pictures are stored for short amount of time and deleted as soon they reach the Messenger recipient. 
    Facebook identity and user first name are stored and used to manage sessions and can be deleted upon request to miga@iki.fi.
</p>
